<h1>Hello</h1>
<p>Je suis l'index</p>
<table>
  <thead>
    <tr>
      <th>Objets</th>
      <th>Contenu</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @email_all.first.object, @email_all_path %></td>
      <td id ="contenu"rowspan="<%= @email_all.length %>">Sélectionner un email</td>
    </tr>
    <% @email_all.slice(1..@email_all.length).each_with_index do |email, i| %>
    <tr>
      <td><div class="object"><%= email.object %></div><td>
    </tr>
    <% end %>
  </tbody>
</table>