
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hello</title>
</head>


<div class="tete">
<header>

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeSLY4zziO9zhwVJe0WJmvFBMteSAMF-M9XJknujgClyrRH2iqxw" alt="logo" class="logo">
  <strong><p class="titre">THE HACKING PROJECT</p></strong>
  <nav>
    <a href="#">Accueil</a>
    <a href="#">Contact</a>
    <a href="#">Se connecter</a>
  </nav>

</header>
</div>


<body>



<br></br><br></br><br></br><br></br>


<center>
<h1>Welcome my friend</h1>
<p>Bienvenue</p>

<%= render 'form' %>

<div style="display:flex">
<table>
  <thead>
    <tr>
      <th>Objets</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @email_all.first.object, email_path(@email_all.first.id - 1), remote: true, data: { id: @email_all.first.id - 1}%></td>
    </tr>
    <% @email_all.slice(1..@email_all.length).each do |email| %>
    <tr>
      <td><%= link_to email.object, email_path(email.id - 1), remote: true, data: { id: email.id - 1} %><td>
    </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <th>Contenu</th>
  </thead>
  <tbody>
      <td id ="contenu" rowspan="<%= @email_all.length %>">Sélectionner un email</td>
  </tbody>
</table>
</div>
</center>

      <footer>
        <ul>
          <li>
            <a href="https://www.facebook.com/">
              <i class="fab fa-facebook-f"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/">
              <i class="fab fa-linkedin-in"></i> Youtube
            </a>
          </li>
          <li>
            <a href="https://twitter.com/?lang=fr">
              <i class="fab fa-twitter"></i> Twitter
            </a>
          </li>
        </ul>
      </footer>

</body>

      </html>
