<h1>Hello</h1>
<p>Je suis l'index</p>
<table>
  <thead>
    <tr>
      <th>Objets</th>
      <th>Contenu</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @email.first.object %></td>
      <td rowspan="<%= @email.length %>">Sélectionner un email</td>
    </tr>
    <% @email.slice(1..@email.length).each do |email| %>
    <tr>
      <td><%= email.object %><td>
    </tr>
    <% end %>
  </tbody>
</table>