<h1>Hello</h1>
<p>Je suis l'index</p>
<%= render 'form' %>
<table>
  <thead>
    <tr>
      <th>Objets</th>
      <th>Contenu</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @email_all.first.object, email_path(@email_all.first.id - 1), remote: true, data: { id: @email_all.first.id - 1}%></td>
      <td id ="contenu" rowspan="<%= @email_all.length %>">Sélectionner un email</td>
    </tr>
    <% @email_all.slice(1..@email_all.length).each do |email| %>
    <tr>
      <td><%= link_to email.object, email_path(email.id - 1), remote: true, data: { id: email.id - 1} %><td>
    </tr>
    <% end %>
  </tbody>
</table>
